<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - SolarGen Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a style=" text-decoration: none;" href="/" class="logo">SolarGen Predictor</a>
            <div class="navbar-links">
                <a href="/">Home</a>
                <a href="/features">Features</a>
                <a href="/about" class="active">About</a>
                <a href="/developers">Developers</a>
                
            </div>
        </div>
    </nav>

    <section class="about">
        <h1>About SolarGen Predictor</h1>
        <p>SolarGen Predictor helps users estimate solar energy output for better resource planning.</p>
        <p>By using state-of-the-art predictive algorithms, we provide an accurate assessment of energy generation based on key environmental factors.</p>
    </section>
</body>
</html>
