<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features - SolarGen Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a style=" text-decoration: none;" href="/" class="logo">SolarGen Predictor</a>
            <div class="navbar-links">
                <a href="/">Home</a>
                <a href="/features" class="active">Features</a>
                <a href="/about">About</a>
                <a href="/developers">Developers</a>
                
            </div>
        </div>
    </nav>

    <section class="features">
        <h1>Features of SolarGen Predictor</h1>
        <ul>
            <li><strong>Accurate Predictions:</strong> Uses real-time data to provide precise energy output predictions.</li>
            <li><strong>Interactive Dashboard:</strong> Visualize your past predictions and trends.</li>
            <li><strong>Customizable Inputs:</strong> Adjust factors like temperature, irradiation, and power for personalized predictions.</li>
        </ul>
    </section>
</body>
</html>
